ul.poke-list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 30px;
    align-items: center;
}

ul.poke-list li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul.poke-list li header {
    width: 80%;
    height: 150px;
    background-size: cover;
    align-self: center;
}

ul.poke-list li strong {
    margin-top: 10px;
    font-size: 24px;
    color: #444;
}

ul.poke-list li span {
    font-size: 15px;
    color: #999;
}